{{ define "main" }}
{{ .Content }}
<ul class="pageslist">
{{ range .Pages.ByPublishDate }}
<li>
	<p>
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	</p>
	<div class="tagslist">
	{{ range .Params.tags }}
	<a href="/tags/{{ . | urlize }}/">#{{ . }}</a>
	{{ end }}
	</div>
</li>
{{ end }}
</ul>
{{ end }}
