:root {
    --yellow: rgb(255, 236, 147);
    --light-blue: rgb(125, 186, 255);
    --violet: rgb(100, 120, 219);
    --transparent-light-blue: rgba(101, 190, 243, 0.541);
    --content-bg: rgb(255, 217, 233);
    --inline-code-bg: rgb(255, 185, 223);
    --code-block-bg: rgb(255, 181, 209);
    --print-block-bg: rgb(255, 163, 202);
    --exercise-bg: rgb(255, 196, 218);
    --exercise-titlebar-bg: #ff82b7;
    --solution-titlebar-bg: #ff9ec7;
    --solution-show-button-bg: #ff7aac;
    --huom-bg: rgb(255, 206, 222);
    --exercise-code-block-bg: rgb(255, 170, 202);
    --exercise-print-block-bg: rgb(255, 147, 193);
    --slider-bg-on: #FFB7E4;
    --slider-bg-off: #ccc;
    --prev-next-button-bg: white;
    --prev-next-button-color: #5362e2;
    --prev-next-button-border-color: pink;
    --text-color: black;
    --body-bg: white;
    --content-border: 22px solid;
    --content-border-image: url(/images/border.gif);
    --dropdown-link-bg: white;
    --dropdown-link-color: black;
    --dropdown-link-hover-bg: rgb(255, 236, 147);
    --navbar-bg-color: #a1e1f7;
    --navbar-bg-image: url(/images/sky.gifv);
    --navbar-border: 1px solid white;
    --frontpage-link-bg: #fffaff55;
    --header-bg-image: url(/images/bears.gif);
    --heading-color: var(--violet);
    --h1-bg: var(--transparent-light-blue);
    --h1-font-weight: 800;
    --link-color: #c73781;
    --link-hover-color: #da60a5;
    --list-link-color: var(--violet);
    --list-marker-color: var(--violet);
    --selection-color: white;
    --selection-bg: rgb(255, 142, 204);
    --code-block-selection-color: rgb(245, 56, 204);
    --code-block-selection-bg: var(--yellow);
    --dropdown-bar-color: white;
    --dropdown-bar-hover-color: var(--yellow);
}
[data-theme='dark'] {
    --yellow: rgb(255, 236, 147);
    --light-blue: #b1c1ff;
    --violet: rgb(236, 131, 220);
    --code-block-bg: #2a2a2a;
    --print-block-bg: #222222;
    --inline-code-bg: #5e2865;
    --exercise-bg: #212121;
    --exercise-titlebar-bg: #323232;
    --exercise-code-block-bg: #303030;
    --solution-titlebar-bg: #323232;
    --solution-show-button-bg: #a92d5c;
    --huom-bg: transparent;
    --slider-bg-on: #d55390;
    --slider-bg-off: #757575;
    --bg-1: #141414;
    --bg-2: #222222;
    --bg-3: #282828;
    --prev-next-button-bg: #444;
    --prev-next-button-color: white;
    --prev-next-button-border-color: var(--prev-next-button-bg);
    --text-color: white;
    --body-bg: #141414;
    --content-bg: transparent;
    --content-border: 0px;
    --content-border-image: none;
    --dropdown-link-bg: #222222;
    --dropdown-link-color: white;
    --dropdown-link-hover-bg: rgb(55, 55, 55);
    --navbar-bg-color: var(--bg-3);
    --navbar-bg-image: none;
    --navbar-border: 1px solid #00000099;
    --frontpage-link-bg: #ffffff10;
    --header-bg-image: none;
    --heading-color: white;
    --h1-bg: transparent;
    --h1-font-weight: 400;
    --link-color: var(--light-blue);
    --link-hover-color: #dce3ff;
    --list-link-color: var(--link-color);
    --list-marker-color: var(--violet);
    --selection-color: black;
    --selection-bg: rgb(255, 160, 213);
    --code-block-selection-color: black;
    --code-block-selection-bg: rgb(241, 173, 255);
    --dropdown-bar-color: #aaa;
    --dropdown-bar-hover-color: var(--violet);
}
[data-theme='dark'] .invertable-colors-img {
    filter: invert(1) hue-rotate(-110deg) contrast(0.95) brightness(1.05);
}
[data-theme='dark'] .invertable-colors-img.img-with-border {
    border-color: #bbb
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.sipu.li/Karla.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.sipu.li/Rowdies.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.sipu.li/Ubuntu Mono.ttf") format('truetype');
}
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.sipu.li/Fjalla One.ttf") format('truetype');
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    color: var(--text-color);
}

body {
    margin: 0px;
    font-family: 'Karla', sans-serif;
    background-color: var(--body-bg);
}
h1 {
    color: white;
    background-color: var(--h1-bg);
    text-align: center;
    font-family: 'Fjalla One', cursive;
    font-size: 37px;
    padding: 0px;
    margin: 0px auto;
    padding: 11px 0px;
    width: 300px;
    text-decoration: underline 1.5px wavy var(--yellow);
    font-weight: var(--h1-font-weight);
}
h2, h3, h4 {
    font-weight: 400;
    color: var(--heading-color);
    font-family: 'Karla', sans-serif;
}
h2 {
    font-size: 29px;
    text-decoration: underline 2px dashed var(--light-blue);
}
h3 {
    font-size: 25px;
}
h5 {
    font-size: 1em;
}
h4 {
    font-size: 19px;
}
.navbar .header {
    position: relative;
    background-size: 70px;
    background-position-x: center;
    background-position-y: -1px;
    background-repeat: no-repeat;
    align-self: auto;
}
#navbar > * {
    flex: 1;
    box-sizing: border-box;
    z-index: 3;
}
.header a:link, .header a:visited, .header a:active {
    text-decoration: none;
}
    p, li, #settings span, summary {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
li {
    padding: 3px 10px;
}
nav {
    height: 75px;
    width: 100%;
    border-bottom: var(--navbar-border);
    background-color: var(--navbar-bg-color);
    position: relative;
    display: flex;
    align-items: center;
}
nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--navbar-bg-image);
    background-position: 65px -18px;
    filter: saturate(129%) brightness(94%) contrast(106%);

}
#content {
    width: 82%;
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px;
    padding-bottom: 1em;
    background-color: var(--content-bg);
    border-left: var(--content-border);
    border-right: var(--content-border);
    border-image: var(--content-border-image);
    border-image-slice: 0 24 0 24;
    border-image-width: 24px;
    border-image-outset: 24px;
    border-image-repeat: repeat;
    border-color: var(--content-bg);
}
@media only screen and (max-width: 1000px) {        
    #content {
        padding: 5px 10px;
        padding-bottom: 1em;
        border-image-outset: 24px 2vw;
    }
    h1 {
        width: 250px;
    }
    .menu-button-container {
        padding: 0px 15px 0px 21px !important;
    }
    ul {
        padding-left: 25px;
    }
    pre > code, pre > samp {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
code, samp {
    background-color: var(--inline-code-bg);
    padding: 1px 5px;
    border-radius: 4px;
    font-family: 'Ubuntu Mono', monospace;
}
pre > code, pre > samp {
    margin: 10px;
    padding: 10px;
    /*background-color: rgb(198, 232, 255);*/
    background-color: var(--code-block-bg);
    display: block;
    /*border: 2px solid rgb(142, 204, 255);*/
    border-radius: 10px;
    font-size: 17px;
    overflow-x: auto;
    z-index: 1;
}
pre > code::selection, pre > samp::selection, pre > code > span::selection {
    background-color: var(--code-block-selection-bg);
    color: var(--code-block-selection-color);
}
.language-tulostus {
    margin: -25px 10px 0px 10px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    background-color: var(--print-block-bg);
    z-index: 0;
    border-top: 10px solid var(--print-block-bg);
}

.language-python {
    position: relative;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color);
}

.loader-container {
	width: 25px;
	height: 25px;
	position: absolute;
    z-index: 100;
    pointer-events:none;
}
@keyframes size {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 0%;
        height: 0%;
    }
}
@keyframes down {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(500px);
    }
}
@keyframes downleft {
    from {
      transform: translateY(0px) translateX(0px);
    }
    to {
      transform: translateY(500px) translateX(-100px);
    }
}
@keyframes downright {
    from {
        transform: translateY(0px) translateX(0px);
      }
      to {
        transform: translateY(500px) translateX(100px);
      }
}
.loader {
		border-radius:10px;
		height:100%;
		width: 100%;
        animation-duration: 2s;
        animation-name: down;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        user-select: none;
        pointer-events:none;
}
.loader::after {
            background-image: url(/images/falling-particle.png);
            background-position: center;
            background-size: cover;
			content:'';
			position:absolute;
			height: 80px;
			width:80px;
			left:10px;
			top:10px;
            animation-name: size;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            pointer-events: none;
}
.falling-particle-img {
            background-image: url(/images/falling-particle.png);
            background-position: center;
            background-size: cover;
			height: 24px;
			width:24px;
}
.dropdown {
    position: relative;
    height: 100%;
    width: max-content
}
.menu-button-container {
    cursor: pointer;
    padding: 0 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    transition: 0.15s padding;
}
.dropdown-container {
    height: 100%;
}
.bar {
    width: 32px;
    height: 6px;
    background-color: var(--dropdown-bar-color);
    border-radius: 2px;
    transition: background-color 0.3s;
}
.dropdown:hover .bar {
    background-color: var(--dropdown-bar-hover-color);
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 75px;
    left: -7px;
}
.dropdown-content a {
    width: 160px;
    background-color: var(--dropdown-link-bg);
    padding: 10px 20px;
    display: block;
    font-size: 18px;
    color: var(--dropdown-link-color);
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: var(--dropdown-link-hover-bg);
}
.dropdown:hover .dropdown-content {
    display: block;
}

#content > ul a {
    color: var(--list-link-color);
}
#content > ul li::marker {
    color: var(--list-marker-color);
}
#header {
    background-image: var(--header-bg-image);
    background-color: inherit;
    background-blend-mode: multiply;
    background-size: 70px;
    background-position: -10px 0px;
    width: 100%;
}
#header h2 {
    background-color: inherit;
    width: fit-content;
}
.pageslist li p {
    margin: 7px 0px;
}
#content a {
    color: var(--link-color);
}
#content a:hover {
    color: var(--link-hover-color);
}

#cursortoggler {
    display: inline-block;
}
#switchdiv-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
#switchdiv-container .switchdiv {
    margin-right: 10px;
}
.switchdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 24px;
  width: 70px;

}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-bg-off);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: var(--slider-bg-on);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.frontpagelinks {
    display: flex;
    flex-wrap: wrap;
}

.frontpagelink {
    flex: 1 1 0px;
    min-width: 250px;
    background-color: var(--frontpage-link-bg);
    padding: 20px;
    margin: 5px;
}

.frontpagelink h3 {
    margin: 10px 0px 0px 0px;
}
.frontpagelink {
    text-decoration: none;
}
.frontpagelink p {
    margin: 10px 0px 0px 0px;
}

.prevnextbutton {
    background-color: var(--prev-next-button-bg);
    text-decoration: none;
    display: block;
    height: 18px;
    width: 25px;
    border: 2px solid var(--prev-next-button-border-color);
    padding: 0px 0px 2px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: var(--prev-next-button-color);
}
.previous {
    left: 1px;
}
.next {
    right: 1px;
}
.previous:hover {
    left: 2px;
}
.next:hover {
    right: 2px;
}

.exercisetitlebar, .solutiontitlebar {
    user-select: none;
    padding: 10px;

    border-radius: 10px;
    height: 1.2em;
}

.exercise {
    background-color: var(--exercise-bg);
    border-radius: 10px;
    margin: 15px 0px;
}
.exercise p, .exercise pre {
    margin-left: 10px;
    margin-right: 10px;
}
.exercisetitlebar {
    background-color: var(--exercise-titlebar-bg);
}
.exercisetitlebar span {
    float: right;
    color: white;
}
.exercisetitle {
    float: left;
    margin: 0px;
    width: 50%;;
}
        
.exercise code {
    background-color: var(--exercise-code-block-bg);
}
.exercise-hidden {
    display: none;
}

.solution {
}
.solutiontitlebar {
    display: flex;
    gap: 10px;
    background-color: var(--solution-titlebar-bg);
}
.solutiontitle {
    margin: 0px;
}
.solution-hidden {
    display: none;
    padding: 10px;
}
.solution .chroma {
    margin: 0px;
}
.solution code {
    margin: 0px;
    width: auto;
}
.solutiontitlebar button {
    border: none;
    background-color: var(--solution-show-button-bg);
    color: white;
    padding: 0px 6px;
    border-radius: 10px;
}

.huom::before {
    content: "!";
    float: left;
    position: relative;
    left: -0.8em;
    color: red;
    font-size: 1.2em;
}


.huom {
    border: 1px dashed red;
    border-radius: 10px;
    background-color: var(--huom-bg);
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.huom > * {
    margin: 10px;
}

.img-with-border {
    border: 1px solid #e85caeaa;
    border-radius: 10px;
}

#content .large-img {
    display: block;
    box-sizing: border-box;
    width: 100%;
}
#content > details {
    margin: 18px 0;
    border-radius: 1rem;
    background-color: var(--exercise-bg);
    display: block;
}
#content > details summary {
    margin: 0.5rem;
}
#content > details pre, #content > details code {
    margin: 0;
}
#content > details .language-tulostus {
    margin-top: -15px;
}
