:root {
    --number-color: #8343f5;
    --comment-color: #6e595d;
    --string-color: #d62a22;
    --function-name-color: #a90018;
    --keyword-color: #c51390;
    --constant-keyword-color: #0d08ab;
    --namespace-keyword-color: #e91662;
    --operator-color: #c70048;
    --operator-word-color: #f92672;
    --literal-string-interpol-color: #5e2fa3;
    --literal-string-affix-color: #5e2fa3;
}

[data-theme='dark'] {
    --number-color: #e2a3ff;
    --comment-color: #a79b9d;
    --string-color: #a5e89f;
    --function-name-color: #ff8d9d;
    --keyword-color: #f19cd8;
    --constant-keyword-color: #b2b0ff;
    --namespace-keyword-color: #ff6ba0;
    --operator-color: #ff679e;
    --operator-word-color: #ffa2b4;
    --literal-string-interpol-color: #cae3ff;
    --literal-string-affix-color: #cae3ff;
}

/* Background  .chroma { color: #f8f8f2; background-color: #272822 } */
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: var(--keyword-color) }
/* KeywordConstant */ .chroma .kc { color: var(--constant-keyword-color) }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: var(--namespace-keyword-color) }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: var(--function-name-color) }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #f92672 }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: var(--literal-string-affix-color) }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: var(--string-color) }
/* LiteralStringEscape */ .chroma .se { color: var(--string-color) }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: var(--literal-string-interpol-color) }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: var(--string-color) }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: var(--number-color) }
/* LiteralNumberBin */ .chroma .mb { color: var(--number-color) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--number-color) }
/* LiteralNumberHex */ .chroma .mh { color: var(--number-color) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--number-color) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--number-color) }
/* LiteralNumberOct */ .chroma .mo { color: var(--number-color) }
/* Operator */ .chroma .o { color: var(--operator-color) }
/* OperatorWord */ .chroma .ow { color: var(--operator-word-color) }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: var(--comment-color) }
/* CommentHashbang */ .chroma .ch { color: var(--comment-color) }
/* CommentMultiline */ .chroma .cm { color: var(--comment-color) }
/* CommentSingle */ .chroma .c1 { color: var(--comment-color) }
/* CommentSpecial */ .chroma .cs { color: var(--comment-color) }
/* CommentPreproc */ .chroma .cp { color: var(--comment-color) }
/* CommentPreprocFile */ .chroma .cpf { color: var(--comment-color) }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
