{{ $css := resources.Get "css/style.css" | resources.Fingerprint -}}
{{ $css2 := resources.Get "css/syntax.css" | resources.Fingerprint -}}
{{ $js := resources.Get "js/script.js" | resources.Fingerprint -}}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    <link rel="stylesheet" type="text/css" href="{{ $css2.RelPermalink }}" integrity="{{ $css2.Data.Integrity }}">
    <link rel="shortcut icon" type="image/jpeg" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <script src="{{ $js.RelPermalink }}"></script>

    <style id="cursorstyle"></style>
</head>
