<nav id="navbar">
    <div class="dropdown-container">
    <div class="dropdown">
        <div class="menu-button-container" onclick="">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <div class="dropdown-content">
            {{ range .Site.Menus.nav }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
    </div>

    <div class="header kukka"><a href="/"><h1>Python-opas</h1></a></div>

    <div id="switchdiv-container"></div>
</nav>
