<div class="solution" id="solution{{ .Parent.Get "num" }}">
    <div class="solutiontitlebar">
        <h5 class="solutiontitle">Ratkaisu</h5>
        <button onclick='solutionClick("{{ .Parent.Get "num" }}")'>NÄYTÄ</button>
    </div>
    <div class="solution-hidden">
    {{ .Inner }}
</div>
</div>
